NAME="Service FlaskApp"
CONTEXT=[
  MYSQL_DATABASE="$MYSQL_DATABASE",
  DB_HOST="127.0.0.1",
  DB_ROOT="$DB_ROOT",
  MYSQL_ROOT_PASSWORD="$MYSQL_ROOT_PASSWORD",
  NETWORK="YES",
  PASSWORD="sro1ZFyIg134JgH7NHR7Tg==",
  SSH_PUBLIC_KEY="$USER[SSH_PUBLIC_KEY]",
  START_SCRIPT_BASE64="c291cmNlIC9yb290L2Jpbi9hY3RpdmF0ZQpjZCAvcm9vdC9hcHAvb2xkCnB5dGhvbiBhcHAucHkgJg==",
  TOKEN="YES" ]
CPU="1"
DISK=[
  IMAGE="Service FlaskApp",
  IMAGE_ID="<IMAGE ID>",
  IMAGE_UNAME="oneadmin",
  SIZE="10240",
  TARGET="vda" ]
GRAPHICS=[
  LISTEN="0.0.0.0",
  TYPE="VNC" ]
HYPERVISOR="kvm"
INPUTS_ORDER="MYSQL_ROOT_PASSWORD,MYSQL_DATABASE,DB_ROOT"
MEMORY="2048"
NIC=[
  NETWORK="evpn0",
  NETWORK_ID="0",
  NETWORK_UID="0",
  NETWORK_UNAME="oneadmin" ]
SCHED_REQUIREMENTS="HYPERVISOR=kvm"
USER_INPUTS=[
  MYSQL_DATABASE="M|text|| |appdb",
  DB_ROOT="M|text|| |appuser",
  MYSQL_ROOT_PASSWORD="M|password|| |" ]